# YouTube Data API
YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=
YOUTUBE_PROJECT_ID=


# LLM APIs
GEMINI_API_KEY=
GROQ_API_KEY=
OPENROUTER_API_KEY=

# Visual APIs
PEXELS_API_KEY=
UNSPLASH_ACCESS_KEY=

# Audio
PIPER_MODEL_PATH=C:\piper\models\en_US-lessac-medium.onnx

