# Ignore Python virtual env
venv/

# Env files
.env
.env.*

# Generated output & data caches
output/
logs/
data/
assets/
scripts/

# Databases
*.db
*.sqlite
*.sqlite3

# Media
*.mp4
*.wav
*.srt
*.jpg
*.jpeg
*.png
*.mp3

# Python cache
__pycache__/
**/__pycache__/
*.pyc
*.pyo

# OS & Auth
.DS_Store
Thumbs.db
token.json
client_secret.json